# Kehitysympäristön kansiot
node_modules/
dist/
build/
.vite/
.vscode/

# Lukitustiedostot ja logit
*.log
*.lock

# Käyttöjärjestelmäkohtaiset tiedostot
.DS_Store
Thumbs.db

# Ympäristömuuttujat (jos käytössä)
.env
